.tooling/SalesforceExp4ac1953b-a404-448c-bd83-d5a53a0cc921/Interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72997e61-670c-4503-a51f-13bd897ebb66">
		<http:listener-connection host="0.0.0.0" port="400" />
	</http:listener-config>
	    <http:request-config name="ProcessLayerEndPoint" doc:name="HTTP Request configuration" doc:id="192f61f7-236b-4b3d-9be1-67fdac6c2c5c" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<spring:config name="Spring_Config" doc:id="e5a66d5d-ed02-4105-beb8-a724560cb072" files="beans.xml" />
	<spring:security-manager>
		<spring:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
	</spring:security-manager>
	<apikit:config name="salesforce-accounts-config" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" raml="salesforce-accounts.raml" />
	<http:listener-config name="HTTPSListnerConfig" doc:name="HTTP Listener config" doc:id="5d11d923-6cde-428e-88e6-70b061cc3f7a" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="443" >
			<tls:context >
				<tls:key-store type="pkcs12" path="/Users/alexbiglen/Keys.pem" alias="localhost" keyPassword="lol123" password="lol123" />
			</tls:context>
			<tls:context >
				<tls:key-store type="pkcs12" path="/Users/alexbiglen/Keys" alias="localhost" keyPassword="lol123" password="lol123" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="salesforce-accounts-main" doc:id="bbd83658-5ee4-4ce3-84fc-f7fe00770ff4">
	<http:listener doc:name="Listener" doc:id="d832709f-4330-45c5-81fc-517280c381f9" config-ref="HTTPSListnerConfig" path="/api/*"/>
		<http:basic-security-filter doc:name="Basic security filter" doc:id="8a6d6d0e-e676-48fc-914f-cd297e79a228" realm="mule" />
		<spring:authorization-filter doc:id="be4a5756-76a7-45ea-95a5-5e79fa513051" requiredAuthorities="ROLE_ADMIN" />
		<apikit:router doc:name="APIkit Router" doc:id="57c8206b-5b50-4213-a448-cda8caa9efb0" config-ref="salesforce-accounts-config"/>
		<error-handler>
			<on-error-propagate doc:name="Copy_of_On Error Propagate" doc:id="d68cec1f-f9a9-43cb-a5ef-abcb7cb65893" type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="cd24a62f-ef08-4885-a6a6-84b69741abae" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate doc:name="Copy_of_On Error Propagate" doc:id="dad2798c-4708-4242-b060-9fdc13ab4261" type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="8befce21-c138-4920-acd8-0b0fe709c059" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate doc:name="Copy_of_On Error Propagate" doc:id="3a305c3b-eb89-4c14-b4db-d600d7cd9a85" type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="7be453c6-4c6b-40c9-9c55-99ab03a86866" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate doc:name="Copy_of_On Error Propagate" doc:id="2797fdb3-0877-4fa5-94ad-891d7d4387e9" type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="0c630a95-107d-44b0-bf2b-71aa5ad8eb59" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate doc:name="Copy_of_On Error Propagate" doc:id="7966aa7d-160d-4572-a1a6-ed4b43f1468f" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="6877c490-f696-4650-bab7-655a74bd83ae" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate doc:name="Copy_of_On Error Propagate" doc:id="d41c10a4-cb34-4e8e-acc7-9258f7d2e0b0" type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="b5c7e18b-9a4e-42c0-880b-5ae8526e7b51" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="testFlow" doc:id="f3870bb4-ff09-4960-ab77-e2dc3b816644" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="2a5138cf-2559-4d94-9736-8931daefbf5c" config-ref="HTTP_Listener_config" path="/"/>
		<http:basic-security-filter doc:name="Basic security filter" doc:id="b8a81958-f0bd-4d15-9bde-8d1c8edca5e0" realm="mule" />
		<spring:authorization-filter doc:id="1b8c070f-2ab7-4071-a0c6-c188bdf26f6c" requiredAuthorities="ROLE_ADMIN" />
		<ee:transform doc:name="Transform Message" doc:id="7193f941-297e-472b-9e47-d2d8a3a93665">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "ok"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete:\account:salesforce-accounts-config">
		<logger level="INFO" message="EXPLayer Start DELETE Call." doc:name="StartDeleteCall"/>
		<http:request method="DELETE" doc:name="CallSapiLayer(Delete)(DeleteAccountByID)" doc:id="61a431de-2b12-4c4a-9172-174a1e05a9a9" path="/api/account" config-ref="ProcessLayerEndPoint"/>
		<logger level="INFO" doc:name="EndDeleteCall" doc:id="83e93008-c2c7-4479-b637-943597af892d" message="EXPLayer End DELETE call."/>
    </flow>
	<flow name="patch:\account\(id):salesforce-accounts-config">
        <logger level="INFO" doc:name="StartPatchCall" doc:id="2f3f8daf-a185-4448-b794-5b9e79903d06" message="EXPLayer Start PATCH call." />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="e39f2a4e-bab7-4f9d-9d7e-02d3f73779d8">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="PATCH" doc:name="CallSapiLayer(Patch)(UpdateAccountByID)" doc:id="619e83b8-ee68-4360-aa2c-dc5996bc7e2f" config-ref="ProcessLayerEndPoint" path="/api/account/{id}" sendCorrelationId="ALWAYS">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : vars.id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="EndPatchCall" doc:id="4feef0f3-9435-4529-9f4c-0f296af45391" message="EXPLayer End PATCH call." />
    </flow>
    <flow name="get:\account:salesforce-accounts-config">
        <logger level="INFO" message="EXPLayer Start GET call." doc:name="StartGetCall"/>
		<http:request method="GET" doc:name="CallSapiLayer(GET)(GetAllAccounts)" doc:id="0783b3f1-32a3-495d-ac8a-5d83fd11e912" config-ref="ProcessLayerEndPoint" path="/api/account" />
		<logger level="INFO" doc:name="EndGetCall" doc:id="e6f8dd8b-2d7d-4c1d-9053-a04e5c636a00" message="EXPLayer End GET call." />
    </flow>
    <flow name="get:\account\(id):salesforce-accounts-config">
        <logger level="INFO" doc:name="StartGetCall" doc:id="99756c97-6c23-4c4e-aa64-ac494b0437f7" message="EXPLayer Start GET call." />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="b5bbc512-a09c-4da5-984e-03f30b543ed0">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="CallSapiLayer(Get)(GetAccountByID)" doc:id="086c177a-48ad-4cb2-afb3-bb55ad259f5f" config-ref="ProcessLayerEndPoint" path="/api/account/{id}" sendCorrelationId="ALWAYS">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : vars.id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="EndGetCall" doc:id="8b1f1290-98bf-4e42-9358-183cf8e69a1b" message="EXPLayer End GET call." />
    </flow>
    <flow name="post:\account:salesforce-accounts-config">
        <logger level="INFO" doc:name="StartPostCall" doc:id="6abf16ec-e28b-4f60-925e-7b5011661043" message="EXPLayer Start POST call." />
		<http:request method="POST" doc:name="CallSapiLayer(Post)(CreateAccount)" doc:id="712afa67-f7ec-4a0a-98da-9a7a546a4925" config-ref="ProcessLayerEndPoint" path="/api/account" />
		<logger level="INFO" doc:name="EndPostCall" doc:id="78cd4dc2-340c-4d4c-b131-1fb14694d86d" message="EXPLayer End POST call." />
    </flow>
</mule>
